#discogs {
	color: blue;
	cursor: pointer;
}

#discogs:hover {
	text-decoration: underline;
}

	
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 2px 10px;	
}

input[type=text], input[type=number], input[type=submit] {
	width: 100%;
	padding: 2px 5px;
	margin: 4px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	
}

body {
	font-family: "Courier New";
}

tbody {
	font-weight: bold;
}

#price {
	text-align: right;
}

#buttonwrapper {
	text-align: center;
}

.loginandregisterdiv {
	float: right;
}

.logoutnregisterbtn {
	width: 250px;
}

#cart {
	text-align: center;
}

#total {
	background-color: #999999;
	font-size: 1.2em;
}

.orderdiv {
	width: 20%;
	margin: auto;
	border: solid;
	padding: 20px;
	border-radius: 15px;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(244,244,252,1) 100%);
}
