#discogs {
	color: blue;
	cursor: pointer;
}

#discogs:hover {
	text-decoration: underline;
}

	
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 2px 10px;	
}

input[type=text], input[type=number], input[type=submit] {
	width: 100%;
	padding: 2px 5px;
	margin: 4px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	
}

.addtocart {
	color: white;
	background-color: green;
	padding: 8px;
	border-radius: 4px;
	cursor: pointer;
}

.addtocart:hover {
	color:white;
	background-color: #80ff80;
}

.shopping-cart-btn {
	width: 100%;
	padding: 2px 5px;
	margin: 4px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
}

.navleft {
	float: left;
}

body {
	font-family: "Times New Roman";
	font-weight: bold;
}

#price {
	text-align: right;
}

#buttonwrapper {
	text-align: center;
}

.loginandregisterdiv {
	width: 100%;
	display: inline-block;
	background: rgb(198,198,218);
	background: linear-gradient(90deg, rgba(198,198,218,1) 0%, rgba(156,156,210,1) 100%);
}

.logoutnregisterbtn {
	width: 250px;
	float: right;

}

#cart {
	text-align: center;
}

#total {
	background-color: #999999;
	font-size: 1.2em;
}

.orderdiv {
	width: 20%;
	margin: auto;
	border: solid;
	padding: 20px;
	border-radius: 15px;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(244,244,252,1) 100%);
}

.navleftlink {
	color: black;
	font-size: 1.3em;
	text-decoration: underline;
	text-underline-offset: 5px;
	padding-left: 40px;
	
}

.navleftlink:hover {
	color:white;
}

#welcometext {
	text-align: center;
	font-size: 1.3em;
}

.homepage {
	text-align:center;
	padding-left: 10px;
	padding-right: 10px;
}

.homepagetitles {
	text-decoration: underline;
	text-underline-offset: 3px;
}

.huom {
	text-align:center;
}

table {
	font-family: "Courier New";
}