<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/scripts.js}" /></script>
	<link rel="stylesheet" th:href="@{/css/customcss.css}"/>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
	
<title>Levyt</title>
</head>
<body>
<p>Tervetuloa [[${#httpServletRequest.remoteUser}]]!</p>
<div class="loginandregisterdiv">
	<div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
		<form th:action="@{/logout}" method="post" class="logoutnregisterbtn">
			<input type="submit" value="Kirjaudu ulos"/>
		</form>
	</div>
	<div sec:authorize="!hasAnyAuthority('ADMIN', 'USER')">
		<form th:action="@{/signup}" method="get" class="logoutnregisterbtn">
			<input type="submit" value="Rekisteröidy"/>
		</form>
	</div>
	<div sec:authorize="!hasAnyAuthority('ADMIN', 'USER')">
		<form th:action="@{/login}" method="get" class="logoutnregisterbtn">
			<input type="submit" value="Kirjaudu sisään"/>
		</form>
	</div>
</div>
	<table id="recordTable" class="table table-striped">
	<thead>
	<tr>
		<th>Artisti</th>
		<th>Koko</th>
		<th>Levyn nimi</th>
		<th>Levy-yhtiö</th>
		<th>Rec</th>
		<th>PS</th>
		<th>Euro</th>
		<th>Discogs ID</th>
		<th>Genre</th>
		<th sec:authorize="hasAuthority('USER')">Ostoskoriin</th>
		<th sec:authorize="hasAuthority('ADMIN')"></th>
		<th sec:authorize="hasAuthority('ADMIN')"></th>
	</tr>
	</thead>
	<tbody>
		<tr th:each="record : ${records}">
			<td th:text="${record.artist}"></td>
			<td th:text="${record.size}" ></td>
			<td th:text="${record.title}" ></td>
			<td th:text="${record.label}" ></td>
			<td th:text="${record.lev}" ></td>
			<td th:text="${record.kan}" ></td>
			<td id="price" th:text="${record.price}" ></td>
			<td th:text="${record.discogs}" th:attr="onclick=|discogsFunction('${record.discogs}')|" id="discogs"></td>
			<td th:text="${record.genre}" ></td>
			<td sec:authorize="hasAuthority('USER')"><a th:attr="onclick=|addToCart('${record.id}')|" class="btn btn-success">Ostoskoriin</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success"
					th:href="@{/update/{id}(id=${record.id})}">Muokkaa</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:attr="onclick=|deleteRecord('${record.id}')|" class="btn btn-danger">Poista</a></td>
		</tr>
		</tbody>
	</table>
	<a sec:authorize="hasAuthority('ADMIN')" href="/addrecord" class="btn btn-success">Lisää levy</a>
	<a sec:authorize="hasAuthority('USER')" href="/shoppingcart" class="btn btn-success">Ostoskori</a>

</body>
</html>