<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/scripts.js}" /></script>
	<link rel="stylesheet" th:href="@{/css/customcss.css}"/>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
	
<title>Levyt</title>
</head>
<body>
	<h1>Levyt</h1>
	<table id="recordTable" class="table table-striped">
	<thead>
	<tr>
		<th>Artisti</th>
		<th>Koko</th>
		<th>Levyn nimi</th>
		<th>Levy-yhtiö</th>
		<th>Levyn kunto</th>
		<th>Kannen kunto</th>
		<th>Hinta (€)</th>
		<th>Discogs ID</th>
		<th>Genre</th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<tr th:each="record : ${records}">
			<td th:text="${record.artist}"></td>
			<td th:text="${record.size}" ></td>
			<td th:text="${record.title}" ></td>
			<td th:text="${record.label}" ></td>
			<td th:text="${record.lev}" ></td>
			<td th:text="${record.kan}" ></td>
			<td th:text="${record.price}" ></td>
			<td th:text="${record.discogs}" th:attr="onclick=|testFunction('${record.discogs}')|" id="discogs"></td>
			<td th:text="${record.genre}" ></td>
			<td><a class="btn btn-success"
					th:href="@{/update/{id}(id=${record.id})}">Muokkaa</a></td>
			<td><a th:attr="onclick=|deleteRecord('${record.id}')|" class="btn btn-danger">Poista</a></td>
		</tr>
		</tbody>
	</table>
	<a href="/addrecord" class="btn btn-success">Lisää levy</a>

</body>
</html>