<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/customcss.css}"/>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" th:src="@{/shoppingcartscripts.js}" /></script>
	
<title>Ostoskori</title>
</head>
<body>
<h2 id="cart">Ostoskori</h2>
<table id="recordTable" class="table table-striped table-bordered">
<thead>
	<tr>
	<th>Levy</th>
	<th>Hinta</th>
	<th></th>
	</tr>
	</thead>
	<tbody>
   <tr th:each="item : ${shoppingcart}">
         <td th:text="${item.artist} + ' ' + ${item.title} + ' ' + ${item.size} "></td>
         <td th:text="${item.price}"></td>
         <td><a th:attr="onclick=|deleteFromShoppingCart('${item.id}')|" class="btn btn-danger">Poista ostoskorista</a></td>
      </tr>
      <tr id="total"><td>Yhteensä</td><td th:text="${totalprice}"></td></tr>
   </tbody>
</table>
<a href="/records" class="btn btn-success">Takaisin levylistaan</a>
     <div class="orderdiv">
		<form>
			<div>
				<label>Tilaajan nimi :</label>
				<input type="text" class="orderinput"/>
			</div>
			<div>
				<label>Katuosoite:</label>
				<input type="text" class="orderinput"/>
			</div>
			<div>
				<label>Postinumero:</label>
				<input type="number" class="orderinput"/>
			</div>
			<div>
				<label>Toimipaikka:</label>
				<input type="text" class="orderinput"/>
			</div>
			<div>
				<label>Sähköposti :</label>
				<input type="text" class="orderinput"/>
			</div>
			<div>
				<label>Puhelinnumero:</label>
				<input type="number" class="orderinput"/>
			</div>
			<div>
				<label>Viesti myyjälle:</label>
				<input type="text" class="orderinput"/>
			</div>
			<input class="btn btn-success" type="submit" value="Lähetä tilaus"></input>

		</form>
	</div>
</html>